body,
html {
  margin: 0;
  height: 100%;
  background-color: white;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
}

.guesses {
  text-align: center;
}

.word-guess {
  text-transform: uppercase;
}

.btn-primary {
  text-transform: capitalize;
  color: black;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.349);
}

.btn-primary.disabled,
.btn-primary:disabled {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.466);
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.349);
}

.btn-reset {
  color: black;
  background-color: transparent;
  border-color: transparent;
}

.btn-reset:hover {
  color: darkgrey;
  background: transparent;
  border-color: transparent;
}

.wrapper {
  width: 100%;
  height: 100%;
}

#menu {
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.hangman-display {
  margin-left: 20%;
  display: block;
  position: relative;
  align-items: center;
}
